<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SPATI DETAILS</title>
  </head>
  <body>
    <nav><%- include('./partials/navbar.ejs'); %></nav>
    <h1>SPATI DETAILS</h1>
    <%= success %>
    <p>Name: <%= spati.title %></p>
    <p>Address: <%=spati.address%></p>
    <p>PLZ: <%=spati.PLZ%></p>
    <p>
      Viertel:
      <a href="/spatis?viertel=<%= spati.viertel %>"> <%=spati.viertel %> </a>
    </p>
    <% if (spati.isAccessible) { %>
    <p>Is Accessible</p>
    <% } %> <% if (!currentUser) {%>
    <p>Log in to add this späti to your favorites !</p>
    <% } else {%>
    <form action="/favorites/<%=spati._id%>?_method=DELETE" method="POST">
      <button>Remove from favorites</button>
    </form>
    <form action="/favorites/<%=spati._id%>" method="POST">
      <button>Add to Favorites</button>
    </form>
    <% } %>
    <p>Comments:</p>
    <% if ( spati.comments.length > 0 ) {%> <% for (let i = 0; i <
    spati.comments.length; i++) {%>
    <p><%= spati.comments[i].rating %> /5 stars</p>
    <p>
      "<%= spati.comments[i].text %>" - <%= spati.comments[i].author.username %>
    </p>
    <% if (currentUser && currentUser._id.equals(spati.comments[i].author._id))
    {%>
    <form
      action="/spatis/<%= spati._id %>/comments/<%=spati.comments[i].id%>?_method=DELETE"
      method="POST"
    >
      <button>Delete Comment</button>
    </form>
    <% } %> <% } %> <% } else {%>
    <p>Be the first to leave a comment !</p>
    <% } %> <% if (currentUser) { %>
    <p>Leave a comment:</p>
    <form action="/spatis/<%= spati._id %>/comments" method="POST">
      <ul>
        <li>
          <label for="rating">Rating: </label>
          <select name="rating" id="rating">
            <option value="">--Please choose an option--</option>
            <option name="rating" value="1">1</option>
            <option name="rating" value="2">2</option>
            <option name="rating" value="3">3</option>
            <option name="rating" value="4">4</option>
            <option name="rating" value="5">5</option>
          </select>
        </li>
        <li>
          <label for="text">Leave a comment: </label>
          <br />
          <textarea type="text" name="text" id="text" rows="3"></textarea>
        </li>
      </ul>
      <button type="submit">Submit</button>
    </form>
    <% } else { %>
    <p>Log in to leave a comment</p>
    <% } %>
    <br />
    <div>
      <a href="/">Go back to home</a>
    </div>

    <% if (currentUser && spati.author.equals(currentUser._id)) { %>
    <div>
      <a href="/spatis/<%=spati.id%>/edit">Edit</a>
    </div>
    <br />
    <div>
      <form action="/spatis/<%=spati.id%>?_method=DELETE" method="POST">
        <button>Delete Spati</button>
      </form>
    </div>
    <% } %>
  </body>
</html>
