<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SPATI DETAILS</title>
  </head>
  <body>
    <h1>SPATI DETAILS</h1>
    <%= success %>
    <p>Name: <%= spati.title %></p>
    <p>Adress: <%=spati.address%></p>
    <p>PLZ: <%=spati.PLZ%></p>
    <!-- query for categories: /spatis?viertel=spati.viertel -->
    <p>
      Viertel:
      <a href="/spatis?viertel=<%= spati.viertel %>"> <%=spati.viertel %> </a>
    </p>
    <% if (spati.isAccessible) { %>
    <p>Is Accessible</p>
    <% } %>
    <p>Comments:</p>
    <% if (spati.comments !== 0) { %>
    <div>
      <% for (let i = 0; i < spati.comments.length; i++) { %>
      <p><%=spati.comments[i].rating%> /5 stars</p>
      <p>"<%=spati.comments[i].text%>" - <%=spati.comments[i].author%></p>
      <form
        action="/spatis/<%= spati._id %>/comments/<%=spati.comments[i].id%>?_method=DELETE"
        method="POST"
      >
        <button>Delete Comment</button>
      </form>
      <!-- <a href="/spatis/%=spati._id%>/comments/%=spati.comments[i]._id%>">
        Delete this comment
      </a> -->
      <!-- <form
        action="/spatis/<=spati.id%>/comments/<=commentId%>?_method=DELETE"
        method="POST"
      >-->
      <!-- <p>spati: id<%= spati.id %> </p> -->
      <!-- <p>comment id: <= commentId %> </p> -->
      <!-- <button>Delete comment</button>
      </form>  -->
    </div>
    <% } %> <% } %>

    <p>Leave a comment:</p>
    <form action="/spatis/<%= spati._id %>/comments" method="POST">
      <ul>
        <li>
          <label for="rating">Rating: </label>
          <select name="rating" id="rating">
            <option value="">--Please choose an option--</option>
            <option name="rating" value="1">1</option>
            <option name="rating" value="2">2</option>
            <option name="rating" value="3">3</option>
            <option name="rating" value="4">4</option>
            <option name="rating" value="5">5</option>
          </select>
        </li>
        <li>
          <label for="text">Leave a comment: </label>
          <input type="text" name="text" id="text" rows="5" />
        </li>
        <li>
          <label for="author">Enter your name: </label>
          <input type="text" name="author" id="author" />
        </li>
      </ul>
      <button type="submit">Submit</button>
    </form>

    <a href="/">Go back to home</a>
    <a href="/spatis/<%=spati.id%>/edit">Edit</a>
    <form action="/spatis/<%=spati.id%>?_method=DELETE" method="POST">
      <button>Delete product</button>
    </form>
  </body>
</html>
